.footer {
  padding: 40px 0;

  font-size: 13px;
  line-height: 20px;

  background: #000E1F;

  &__wrapper {
    display: flex;
    align-items: flex-start;
    padding: 15px 0;

    @media (max-width: 767.99px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    p {
      margin: 0;

      a {
        color: #eae2ff;
        text-decoration: underline;
      }

    }

  }

  &__logo img {
    max-width: 70px;
  }

  &__logo,
  &__img {
    margin-right: 30px;

    @media (max-width: 767.99px) {
      margin-right: 0;
      margin-bottom: 20px;
    }

  }

  &__logo {
    filter: grayscale(1) contrast(0.6) brightness(0.9);

    &:hover {
      filter: none;
    }

  }









}