.partners {
  padding: 40px 0;

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-list {
    padding: 0 !important;
  }

  &__link {
    display: flex;
    justify-content: center;
    margin: 0 15px;

    filter: grayscale(1) contrast(0.3) brightness(1);

    &:hover {
      filter: none;
    }

  }

  &.back-violet .partners__link {
    filter: grayscale(1) contrast(0.6) brightness(2);

    &:hover {
      filter: none;
    }

  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    button {
      width: 8px;
      height: 8px;
      margin: 0 6px;
      padding: 0;
      font-size: 0;
      background: #a2aeb7;
      opacity: .25;
      border-radius: 50%;
      border: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }

    }

  }

  .slick-active button {
    opacity: 1;
  }

  &__link:focus,
  &__item:focus {
    outline: none;
  }

  &.back-violet {
    background: $violet;
  }

  .slick-slide img {
    height: auto;
  }







}