.tabs
  &-inner
    background-color: #eceef2
  &-list__item
    padding: 0 40px 0 0
    justify-content: space-between
  &-list__title-wrapper
    display: flex
    align-items: center
  &-list__title
    margin: 0

    font-size: 20px
    line-height: 25px
    color: $dark-gray
  &-list__title-bonus
    margin-right: 5px
    padding: 3px 5px

    font-size: 14px
    line-height: 14px
    font-weight: 700
    color: white 

    border-radius: 15px
    background-color: $green
  &-list__subtitle
    margin: 0

    font-size: 16px
    line-height: 21px
    color: $gray
  &-list__code
    font-size: 11px
    line-height: 20px
  &-list__bonus
    font-size: 11px
    line-height: 11px
    color: #666
  &-list__check
    font-size: 20px
    color: $green
  &-list__rating
    font-size: 20px
    color: $green
    text-align: center
  &-list__rating-text
    font-size: 12px
    color: $green
    text-align: center
  &-list__visit
    display: block

  .nav
    display: flex
    justify-content: center
    &-link
      display: block
      width: 292px
      padding: 40px 10px

      font-size: 17px
      line-height: 17px
      font-weight: 700
      color: #7b8c98
      text-align: center
      &.active
        color: $green

        border-top: 8px solid $green
        background-color: white
      &__icon
        display: block
        margin-bottom: 15px

        font-size: 50px
  .tab-pane
    padding: 70px 0
    &__text
      padding-bottom: 60px

      color: $gray

