.calendar
	padding-top: 258px
	padding-bottom: 292px
	.datepicker-here
		.datepicker
			width: 1210px
			height: 560px

			font-size: 40px
			line-height: 40px
		.datepicker--nav
			padding: 28px
		.datepicker--days-names
			margin: 8px 0 32px
		.datepicker--cell.datepicker--cell-day.-other-month-
			margin-bottom: 30px
		.datepicker--cell-day
			margin-bottom: 30px
		.-weekend-
			color: #971919
		.datepicker--cell-month
			margin-bottom: 30px
		.datepicker--cell-year
			margin-bottom: 30px
		.datepicker--cell.-selected-
			background: #74cc89