@import "vars"


/*==========  Desktop First  ==========*/


@media (max-width: 1876px)
	.internal-page
		.main
			.message-page-inner
				.messages
					&__card-hide
						right: -1px
						z-index: 100

						background-color: white

@media (max-width: 1380px)
	.internal-page
		.main
			.my-page-inner
				.complex
					&__list
						p
							margin-bottom: 20px

				.calendar
					.datepicker-here
						.datepicker
							width: 800px
							margin: 0 auto

	.popup-notice
		width: 1000px
		&__inner
			margin: 0 auto

@media (max-width: 1282px)
	.internal-page
		.main
			.my-page-inner

				.card
					&__personal-notice
						position: absolute
						top: 26px
						right: 10px
					&__personal
						width: 780px
						position: relative
					&__personal-absolute
						width: unset

				.gp-404
					padding-top: 200px

				.edit
					&__settings
						flex-wrap: wrap
						p
							margin-bottom: 10px
							input
								width: 792px
						&-input
							margin-bottom: 10px

	.page-content
		.video
			h2
				padding-top: 400px
				padding-bottom: 0

				font-size: 80px
				
		.enter-block
			&__form-inner
				padding: 102px 0 410px 0

	.popup-complex
		width: 1000px

	.popup-man
		width: 960px


// ≥1200px
+media-breakpoint-down(lg)
	.page-header__inner-page
		.page-header__user
			font-size: 30px

	.internal-page
		.main
			.my-page-inner

				// .card
				// 	&__personal-notice
				// 		position: absolute
				// 		top: 26px
				// 		right: 10px
				// 	&__personal
				// 		width: 780px
				// 		position: relative
				// 	&__personal-absolute
				// 		width: unset

				.gp-404
					padding-top: 210px

	.page-footer
		&__inner
			padding: 36px 28px 20px 28px

// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
