.header {
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 100;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 991.98px) {
      padding: 8px 0;
    }

  }

  .navbar-collapse {

    @media (max-width: 991.98px) {
      position: absolute;
      top: 55px;
      right: 0;

      width: 100%;
      padding-bottom: 10px;

      text-align: center;

      background: #121212;
    }

  }

  

  .navbar-light .navbar-toggler .navbar-toggler-icon {
    background-image: url("../img/burger.png");
    background-size: 28px;
  }

  .navbar {
    padding: 0;

    position: unset;
  }

  .navbar-light .navbar-nav .nav-link {
    padding: 25px 10px;

    position: relative;

    font-size: 16px;
    line-height: 18px;
    color: white;

    &:hover::before,
    &.active::before {
      content: "";

      position: absolute;
      bottom: 20%;
      left: 50%;
      transform: translateX(-50%);

      width: 90%;
      height: 2px;

      background: #B53838;

      @media (max-width: 991.98px) {
        display: none;
      }

    }

    @media (max-width: 1199.98px) {
      font-size: 14px;
    }

    @media (max-width: 991.98px) {
      padding: 15px 20px;

      font-weight: 500;
    }

  }

  .navbar-light .navbar-nav .nav-item-padding .nav-link {
    padding-left: 50px;

    color: #EAC953;

    &:hover {
      color: white;
    }

    &:hover::before {
      display: none;
    }

    @media (max-width: 991.98px) {
      padding-left: 20px;
    }

  }

  .navbar-light .navbar-nav .nav-item-padding .nav-link i {
    padding-left: 5px;

    font-size: 10px;
  }

  .dropdown-toggle::after {
    display: none;

    @media (max-width: 991.98px) {
      display: inline-block;
    }

  }

  .dropdown-menu {
    top: 98%;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 0px 4px 8px rgba(220, 206, 203, 0.6);
    border-radius: 3px;

    @media (max-width: 991.98px) {
      top: unset;
      left: unset;
      transform: unset;
      box-shadow: unset;

      font-size: 14px;
      text-align: center;

      background: #121212;
      border: none;
    }

  }

  .dropdown-item:hover {
    color: #B53838;
  }

  .dropdown-item {

    @media (max-width: 991.98px) {
      color: white;
    }

  }
















}