.projects {

  .slick-dots {
    display: flex;
    justify-content: center;

    margin: 0;
    margin-top: 25px;
    padding: 0;
    list-style-type: none;
  }

  .slick-dots button {
    width: 8px;
    height: 8px;
    margin: 0 6px;
    padding: 0;
    font-size: 0;
    background: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    &:hover {
      background: #B53838;
    }

    &:focus {
      outline: none;
    }

  }

  .slick-active button {
    background: #B53838;
  }

  .slick-arrow.arrow-right {
    right: 27%;

    @media (max-width: 1199.98px) {
      right: 15%;
    }

    @media (max-width: 991.98px) {
      right: 6%;
    }

  }

  .slick-arrow.arrow-left {
    left: 27%;

    @media (max-width: 1199.98px) {
      left: 15%;
    }

    @media (max-width: 991.98px) {
      left: 6%;
    }

  }

  &__item-img {

    @media (max-width: 991.98px) {
      max-width: 500px;
    }

    @media (max-width: 575.98px) {
      max-width: 300px;
    }

    img {
      max-width: 100%;
    }

  }

  .slick-arrow {

    @media (max-width: 991.98px) {
      top: 43%;
    }

  }










}