.request {

  &__form {

    input,
    textarea {
      width: 100%;
      padding: 10px 20px;

      border: 1px solid #B53838;
    }

    .button {
      max-width: 100%;
      padding: 16px 20px;

      cursor: pointer;
    }

  }

  &__form-text {
    font-size: 14px;
    line-height: 20px;
    color: #6A5E5C;

    a {
      color: #6A5E5C;
      text-decoration: underline;

      &:hover {
        color: #B53838;
      }

    }

  }

  .custom-control-input {
    position: unset;
    opacity: 1;
  }

  .custom-control {
    padding-left: 0;
  }

  input:focus:required:invalid {
    border-color: #b53838;
  }

  &__connection a {
    color: #121212;

    &:hover {
      color: #B53838;
      text-decoration: none;
    }

  }

  &__connection i {
    font-size: 35px;
  }

  &__phone,
  &__mail {
    display: block;

    color: #121212;

    &:hover {
      color: #B53838;
      text-decoration: none;
    }

  }

  &__connection-wrap {

    @media (max-width: 991.98px) {
      margin: 40px auto 0;

      text-align: center;
    }

  }













}