.services {

  &__card-more {
    display: block;
    margin-top: auto;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: black;

    &:hover {
      color: #B53838;
      text-decoration: none;
    }

    i {
      padding-left: 4px;

      font-size: 10px;
    }

  }

  &__card-name {
    display: block;
    margin-top: auto;
    margin-bottom: 0;

    font-weight: bold;
    color: white;
  }



  // actions
  &__card-text,
  &__card-more,
  &__card-btn .minus,
  &__card-name {
    display: none;
  }

  &__card.active .services__card-title,
  &__card.active .services__card-btn .plus,
  &__card.active .services__card-employment {
    display: none;
  }

  &__card.active .services__card-text,
  &__card.active .services__card-more,
  &__card.active .services__card-btn .minus,
  &__card.active .services__card-name {
    display: block;
  }
  // actions




  // actions-background
  .back-1-png {
    background: url("../img/back-1.png") center !important;
  }

  .back-2-png {
    background: url("../img/back-2.png") center !important;
  }

  .back-3-png {
    background: url("../img/back-3.png") center !important;
  }

  .back-4-png {
    background: url("../img/back-4.png") center !important;
  }

  .back-5-png {
    background: url("../img/back-5.png") center !important;
  }

  .back-6-png {
    background: url("../img/back-6.png") center !important;
  }
  // actions-background



  &__card {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding: 40px;
    max-width: 370px;
    height: 300px;

    position: relative;

    border-radius: 3px;

    @media (max-width: 991.98px) {
      margin: 10px auto;
      padding: 28px;
    }

  }

  &__card-title {
    font-size: 24px;
    line-height: 30px;
    color: black;
  }

  &__card-btn {
    width: 40px;
    height: 40px;

    position: absolute;
    bottom: 20px;
    right: 20px;

    background: white;
    border-radius: 50%;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(31, 64, 88, 0.2));

    &:hover {
      background: #B53838;

      i {
        color: white;
      }

    }

  }

  &__card-change h3 {
    margin-bottom: 15px;

    font-size: 24px;
    line-height: 30px;
    color: white;
  }

  &__card-black-text {
    color: white;

    a {
      color: white;
      text-decoration: underline;

      &:hover {
        color: #B53838;
      }

    }

  }

  &__card-phone {
    font-weight: bold;
    color: #EAC853;

    &:hover {
      color: white;
      text-decoration: none;
    }

  }

  &__card-employment {
    margin-top: 15px;
  }

  

  











}