.utility {

  &__item-link {
    max-width: 350px;
    height: 314px;
    padding: 35px;

    color: #121212;

    &:hover {
      color: #121212;
      text-decoration: none;
    }

    @media (max-width: 575.98px) {
      max-width: 300px;
    }

    h3 {
      font-size: 22px;
      line-height: 28px;
    }

    p {

      @media (max-width: 575.98px) {
        font-size: 17px;
        line-height: 23px;
      }

    }

  }

  .slick-arrow.arrow-right {
    right: 11%;
  }

  .slick-arrow.arrow-left {
    left: 11%;
  }












}