@import "vars";
@import "fonts";
@import "libs";

@import "header";

@import "preview";
@import "advantages";
@import "stages";
@import "thank";
@import "projects";
@import "services";
@import "request";
@import "utility";

@import "footer";

@import "modal";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 18px;
	min-width: 320px;
	position: relative;
	line-height: 28px;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }

}


// menu-header

@media (min-width: 991.98px) {

  nav.navbar .dropdown:hover > .dropdown-menu {
    display: block; 
  }

}

// menu-header



.back-gray {
  background-color: #121212;
}

.padding-block {
  padding: 70px 0;
}

.page-subtitle {
  margin-bottom: 0;

  font-size: 48px;
  line-height: 55px;
  color: black;

  @media (max-width: 1199.98px) {
    font-size: 35px;
    line-height: 42px;
  }

}

.back-gray .page-subtitle {
  color: white;
}

.back-gray .page-subtitle-text {
  color: #FBFBFB;
}

.page-subtitle-text {
  margin-bottom: 0;

  @media (max-width: 991.98px) {
    margin-top: 25px;
  }

}

.button {
  display: block;
  max-width: 370px;
  padding: 16px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: white;
  text-align: center;

  background: #B53838;
  box-shadow: 0px 4px 8px rgba(6, 6, 6, 0.3);
  border-radius: 3px;

  &:hover {
    color: white;
    text-decoration: none;

    background: #AA3434;
    box-shadow: none;
  }

  @media (max-width: 991.98px) {
    margin-left: auto;
    margin-right: auto;
  }

  &.yellow {
    color: black;

    background: #EAC953;
    box-shadow: 0px 4px 8px rgba(121, 59, 0, 0.3);

    &:hover {
      background: #E1C151;
      box-shadow: none;
    }

  }

}

.page-main {
  margin-top: 68px;

  @media (max-width: 991.98px) {
    margin-top: 56px;
  }

}

.slick-slide:focus {
  outline: none;
}

.utility__item-link:focus,
.projects__item-img:focus {
  outline: none;
  cursor: pointer;
}

.slick-arrow,
.utility__page-top {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  font-size: 18px;
  color: #B53838;

  background-color: white;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  cursor: pointer;
  border: none;

  &:hover {
    color: white;
    background: #B53838;
  }

}

.slick-arrow {

  @media (max-width: 767.98px) {
    width: 30px;
    height: 30px;

    font-size: 14px;
  }

}

.slick-slider {
  position: relative;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}


// animation-preview-arrow
.preview__down {
  display: none;
}

.arrow-7 {
  margin: 30px;

  cursor: pointer;
}

.arrow-7 span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #337AB7;
  border-right: 5px solid #337AB7;
  transform: rotate(45deg);
  margin: -8px;
  animation: arrow-7 2s infinite;
}

.arrow-7 span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow-7 span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes arrow-7 {

  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }

  50%{
      opacity: 1;
  }

  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }

}
// animation-preview-arrow




@import "media"; // Always at the end
