.header
	&-top
		.container
			max-width: 1640px
		&__wrapper
			display: flex
			justify-content: space-between
			align-items: center
			padding-top: 45px
			padding-bottom: 60px
		&__search
			input
				width: 250px
				padding: 3px 0 3px 45px

				background: url(../img/search.png) no-repeat scroll 5px 4px
				border: none
		&__user
			display: flex
			align-items: center
			&:hover
				text-decoration: none
			p
				margin: 0
				margin-right: 20px

				font-size: 20px
				line-height: 20px
				color: $menu
	&-menu
		padding-bottom: 60px
		.container
			max-width: 1640px
		&__list
			display: flex
			justify-content: space-between
			margin: 0
			padding: 0

			list-style: none
			li
				a
					font-size: 20px
					line-height: 20px
					color: $menu
					&:hover
						text-decoration: none